---
title: About Me
layout: main
---

<div class="">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
            {% include blocks/about %}
        </div>
    </div>
</div>

{% include components/cta %}