---
title: Thanks
layout: main
---

<div class="my-24 flex justify-center">
    <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6 text-center">
            <h3 class="header">Thanks for contacting me</h3>
            <p class="mt-2">I will try to reply in 1-2 days.</p>
            <a class="mt-2 text-green-medium underline" href="/">go back</a>
        </div>
    </div>

</div>