---
layout: main
---

<div class="mt-24 ">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
            <div class="mb-12 flex justify-center"> 
                <div class="prose prose-dark">
                    <img class="rounded-lg shadow h-56 w-full object-cover" src="{{ image }}" alt="">
                    <h3 class="font-bold">{{ title }}</h3>
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
</div>