---
layout: main
---
<div class="mt-24">
    <h3 class="header text-center">
        {{ title }}
    </h3>
    <div class="mt-12 max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
            {{ content }}
        </div>
    </div>
    {% include components/cta %}
    
</div>