<div class="bg-green-dark">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
            <div class="py-24">
                <div class="flex justify-start">
                    <div class="prose prose-light text-left">
                        <h3 id="contact">Ready To Start A Project Together?</h3>
                        <p>I'd love to work with you. Press the button below to go to the contact form</p>
                    </div>
                </div>
                <div class="mt-4 flex justify-start">
                    <a href="/contact" class="btn border-transparent bg-black text-white ">Hire Me Today</a>
                </div>
            </div>
        </div>
    </div>
</div>