<div id="newsletter" class="py-24">
    <div class="flex justify-center">
        <div class="prose prose-light">
            <h3>Join My Newsletter</h3>
            <p>The people on my mailing list are the first to hear about my new content. Join them by signing up now!
            </p>
            <form name="newsletter" action="/thanks" netlify>
                <div class="p-4 bg-white rounded-lg shadow border-4 border-green-medium">


                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                        <div class="mt-1">
                            <input type="text" name="email" id="email" required
                                class="shadow-sm focus:ring-green-medium focus:border-green-medium text-black block w-full sm:text-sm border-gray-300 rounded-md"
                                placeholder="you@example.com">
                        </div>
                    </div>


                    <div class="mt-4 flex">
                        <button class="px-4 py-2 bg-green-medium text-white rounded-lg">
                            Sign Up Now
                        </button>
                        <p class="ml-4 text-sm text-gray-500">I'll never spam you.</p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>