<div id="story" class="py-24">
    <div class="flex justify-center">
        <div class="prose prose-light">
            <h3>Are you looking for a freelnace full stack developer?</h3>
            <p>Common scenarios where I deliver successful projects:</p>

            <ol>
                <li>Your business needs to the point, technical advice in the early stages of your project.</li>
                <li>You need a freelance full stack developer to work alongside a designer to plan the best approach for your project.</li>
                <li>Design, UX and UI work for your website is already finished and you need an experienced full stack developer to build the theme.</li>
                <li>You're looking to launch an eCommerce project on Shopify, and need a professional to code it.</li>
                <li>You want to develop a JAMStack website using headless content management system, via the REST API, for a detached front end using Svelte, SvelteKit or a static site generator like 11ty.</li>
                <li>You require a Shopify app or custom 3rd party integration to be developed for your Shopify store.</li>
            </ol>

            <p>If one of these situations describes your needs, you're in the right place. You can <a
                    href="#contact">hire me</a> to help
                today.</p>
            <!-- <h3>Why Hire Maciej Janowski as your freelance full stack developer?</h3> -->
            {% include components/contact %}
        </div>
    </div>
</div>