
<div id="testimonials" class="py-24">
    <div class="flex justify-center">
        <div class="prose prose-dark">
            <h3>Kind Words From People Who Have Hired Me</h3>
            <div class="space-y-4 ">
                
                {% for testimonial in testimonials %}

                <div class="flex items-start justify-between ">

                    <div class="relative">
                        <div @mouseenter="show = true" @mouseleave="show = false">
                            <div class="w-36 h-36 bg-green-medium top-5 right-5 rounded-lg absolute">
                            </div>
                            <div class="w-36 h-36 ">
                                <img class="w-full h-full object-cover rounded-lg absolute" src="{{ testimonial.image }}"
                                alt="{{ testimonial.name }}">
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 z-30">
                        <p>{{ testimonial.text }}<b> - {{ testimonial.name }}</b></p>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>Let's Get Started Today</h3>
            <p>Your search for a reliable freelance full stack developer is over! Head back up to the form, fill me in
                on your project and let's get started today.</p>
            <a href="#contact">
                Take me back to contact form 
            </a>
        </div>
    </div>
</div>